.header-info-holder {
  text-align: center;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}

.top-intro-header,
.navbar-holder {
  justify-content: center;
  position: fixed;
}
.header-info-holder,
.top-intro-header,
.navbar-holder {
  display: flex;
  align-items: center;
  width: 100vw;
}
.top-intro-header {
  top: 0;
  height: 60px;
  background-color: #43e895;
}
.top-intro-header h3 {
  font-size: 17px;
  font-family: "Avenir", "Next";
  font-weight: bold;
  color: #ffffff;
}
.navbar-holder {
  height: 50px;
  background: #2a2a2a;
  bottom: 0;
  justify-content: space-around;
  flex-direction: row;
}
.navbar-holder p {
  color: #979797;
  font-family: "Avenir", "Next";
  font-size: 10px;
}
.currentToggle {
}
.inactiveToggle {
  opacity: 0.5;
}
