.restaurants-main,
.restaurants-main-map {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: row;
  padding: 60px 0 50px 0;
  /* background: grey; */
  min-width: 200vw;
  /* overflow-x: hidden; */
  transition: 2s;
}
.restaurants-main {
  transform: translateX(0%);
}
.restaurants-main-map {
  transition: 2s;
  transform: translateX(-50%);
}
.each-restaurant {
  /* margin-top: 60px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 100vw;
  height: 30vh;
}
.restaurant-name-category > p:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
.restaurant-name-category > p:nth-child(2) {
  font-size: 12px;
}
.restaurant-name-category > p:nth-child(2),
.restaurant-name-category > p:nth-child(1) {
  margin-bottom: 6px;
  font-family: "Avenir", "Next Regular";
  color: #ffffff;
}
.restaurant-name-category {
  position: absolute;
  margin-left: 12px;
}
.currentPlatform,
.inactivePlatform {
  height: 100vh;
  transition: 0.5s;
}
